version: '3'

services:
  blur_face:
    build:
      context: ../
      dockerfile: .docker/Dockerfile
      target: deploy
      args:
        - USERNAME=${USERNAME}
        - UID=${UID}
        - GID=${GID}
        - DOCKER_HOME_DIR=${DOCKER_HOME_DIR}
        - DOCKER_WORKDIR=${DOCKER_WORKDIR}
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    runtime: nvidia
    tty: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOST_DATA_DIR}:${DOCKER_DATA_DIR}
      # - <ros2bag-path>:<ros2bag-path-in-container> # Mount host data to container if needed 
